Library/Artifacts/
Library/PackageCache/
Library/ShaderCache/
Library/ScriptAssemblies/
Library/StateCache/
Temp/
Logs/
obj/
bin/
Packages/packages-lock.json
Library/SourceAssetDB-lock
Library/PackageManager/ProjectCache
Library/expandedItems
Library/CurrentLayout-default.dwlt
Library/EditorInstance.json
Library/EditorSnapSettings.asset
Library/EditorUserBuildSettings.asset
Library/SceneVisibilityState.asset
Library/CurrentLayout-default.dwlt
Library/PlayerDataCache/
Library/LastBuild.buildreport
Library/BuildPlayerData/Editor/TypeDb-All.json
Library/BuildPlayerData/Player/TypeDb-All.json
